name: Build and run tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  testing:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: false

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake g++ libboost-dev

    - name: Compile and run benchmark
      working-directory: ${{ github.workspace }}/tests
      run: |
        cmake -B build/debug -DCMAKE_BUILD_TYPE=Debug
        cmake --build build/debug 
        ./build/debug/association_map/cpu/*.out --reporters=console --success
        ./build/debug/association_map/alpaka/cpu/*.out --reporters=console --success
        cmake -B build/release -DCMAKE_BUILD_TYPE=Release
        cmake --build build/release
        ./build/release/association_map/cpu/*.out --reporters=console --success
        ./build/release/association_map/alpaka/cpu/*.out --reporters=console --success

